@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url("/fonts/Inconsolata.ttf") format('woff');
}
/* Layout
-------------------------------------*/
* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
html {
  overflow: visible;
}
body {
  background: #fff;
  color: #222;
  overflow: auto;
}
body > header {
  padding: 2px 0px;
  width: 100%;
}
body > header > .container {
  border-bottom: 2px solid #ccc;
}
body > header h1 {
  display: inline-block;
  margin: 0px;
  margin-right: 20px;
  -webkit-user-select: none;
}
body > header h1 a {
  color: #333;
  font-family: 'Inconsolata', monospace;
}
body > header h1 a:hover {
  color: #4183c4;
  text-decoration: none;
}
body > header nav {
  display: inline-block;
  position: relative;
  bottom: 5px;
  ((null)): 0;
}
body > header nav > ul {
  list-style: none;
  margin: 0px;
}
body > header nav > ul > li {
  display: inline-block;
}
body > header nav > ul a {
  color: #444;
  font-weight: bold;
  padding: 11px;
}
body > header nav > ul a::before,
body > header nav > ul a::after {
  font-size: 120%;
  visibility: hidden;
}
body > header nav > ul a::before {
  content: '{';
}
body > header nav > ul a::after {
  content: '}';
}
body > header nav > ul a:hover {
  color: #222;
  text-decoration: none;
}
body > header nav > ul a:hover::before,
body > header nav > ul a:hover::after {
  visibility: visible;
}
body > header .symbol {
  color: #555;
  float: right;
  font-size: 150%;
  padding: 11px;
  position: relative;
  bottom: 8px;
  ((null)): 0;
}
body > header .symbol:hover {
  text-decoration: none;
}
body > footer {
  color: #666;
  font-size: 70%;
  text-align: center;
}
body > footer .container {
  padding: 16px;
}
.container {
  clear: both;
  margin: 0px auto;
  width: 850px;
}
.atom::after {
  content: 'B';
}
.atom:hover {
  color: #ffa500;
}
.twitter::after {
  content: 't';
}
.twitter:hover {
  color: #4ed3ff;
}
/* Base styles.
--------------------------------------------*/
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 20px;
  margin-top: 10px;
}
ul,
ol {
  margin: 20px 40px;
}
li > ul,
li > ol {
  margin: 5px 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin: 20px 0px 10px;
}
h3,
h4,
h5,
h6 {
  color: #111;
}
::selection,
::-moz-selection {
  background: rgba(0,0,0,0.60);
  color: #fff;
}
code {
  background: #eee;
  font-family: 'Inconsolata', monospace;
}
pre {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.06);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.06);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.06);
  margin: 6px;
  padding: 4px;
}
hr {
  background: #ccc;
  border: none;
  height: 2px;
  margin: 10px 0px;
}
/* Front page layout
----------------------------------------------*/
.posts > ul {
  list-style: none;
  margin: 20px 0px 0px;
}
.posts li {
  border-bottom: 1px solid #fafafa;
  padding: 10px 30px;
  position: relative;
}
.posts li > a {
  font-size: 110%;
}
.posts li:last-child {
  border-bottom: none;
}
.posts time {
  position: absolute;
  right: 30px;
  top: 13px;
  color: #777;
  font-size: smaller;
}
/* Post layout
----------------------------------------------*/
.post > header {
  position: relative;
}
.post > header > h1 {
  font-size: 200%;
}
.post > header > time {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #888;
  font-size: smaller;
}
.post > footer {
  font-size: smaller;
  position: relative;
  top: 10px;
  ((null)): 0;
}
.prev-post,
.next-post {
  position: absolute;
}
.prev-post {
  left: 0px;
}
.next-post {
  right: 0px;
}
/* Resume styles
----------------------------------------------*/
.resume > .intro {
  float: left;
  margin-right: 4%;
  width: 30%;
}
.resume > .intro h1 {
  color: #222;
  font-size: 34px;
  margin-bottom: 0px;
}
.resume > .intro h2 {
  color: #222;
  font-weight: normal;
  font-size: 14px;
}
.resume > .intro h2 em {
  font-size: 16px;
}
.resume > .intro .links {
  border-top: 2px solid #ccc;
}
.resume > img {
  cursor: pointer;
}
.resume .links {
  margin: 10px 0px;
  padding: 10px 20px;
}
.resume .links li > a {
  background: #eee;
  border-left: 17px solid #888;
  display: block;
  margin: 3px 0px;
  padding-left: 10px;
}
.resume .links li > a:hover {
  background: #4183c4;
  border-left-color: #13273c;
  color: #fff;
  text-decoration: none;
}
.resume > .stratus-editor {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.30);
  float: left;
  margin-top: 20px;
  width: 66%;
}
.resume > hr {
  visibility: hidden;
  width: 100%;
}
.resume > h1 {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  color: #2a2a2a;
  display: inline-block;
  font-size: 32px;
  margin: 20px 0px 0px;
  position: relative;
  top: 10px;
  ((null)): 0;
  text-align: center;
  width: 100%;
}
.resume > .project {
  float: left;
  margin: 1px;
  width: 281px;
}
.resume > .project > h1,
.resume > .project > h1 > a {
  background: #eee;
  color: #444;
  display: block;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
  font-size: 32px;
  font-weight: normal;
  padding-left: 5px;
  text-shadow: 0px 1px 0px #fff;
}
.resume > .project > h1 small,
.resume > .project > h1 > a small {
  font-size: 16px;
  position: relative;
  bottom: 6px;
  ((null)): 0;
}
.resume figure {
  border: 1px solid #999;
  margin: 10px 0px;
  position: relative;
}
.resume figure > img {
  cursor: pointer;
  max-width: 279px;
}
.resume figure > figcaption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,0.70);
  color: #fff;
  padding: 6px 0px;
  right: 0px;
  text-align: center;
}
.resume ul {
  margin: 0px;
}
.resume .list {
  font-size: 15px;
  margin: 10px 0px 10px 30px;
}
.resume .list li {
  border-left: 17px solid #aaa;
  margin: 4px 0px;
  padding-left: 6px;
}
.resume p {
  font-size: 15px;
  line-height: 18px;
}
.resume ul {
  list-style: none;
}
.resume em {
  font-style: normal;
  font-weight: bold;
}
.popover {
  -webkit-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.80), 0px 0px 0px 1000px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.80), 0px 0px 0px 1000px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.80), 0px 0px 0px 1000px rgba(0,0,0,0.30);
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
}

